In [1]:
import os
import pandas as pd

In [9]:
df=pd.read_csv("../data/raw/iris.data")

In [11]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal_width   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
Petal_length  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
Petal_width   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

In [12]:
overview=df.describe()

In [14]:
overview.loc[["min","max"]].to_json("schema_in.json")

In [19]:
class NotInRange(Exception):
    def __init__(self,message="value not in Range"):
        self.message=message
        super().__init__(self.message)

In [20]:
raise NotInRange

NotInRange: value not in Range